.location-map {
  position: relative;
  color: #67635e;
  display: flex; /* For responsiveness */
  flex-direction: column; /* Stack title and map on smaller screens */
  align-items: flex-start; /* Align items to the left by default */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}

.description-t {
  font-size: 24px;
  color: #67635e;
  margin-bottom: 10px;
  padding-left: 0;
}

.map-container {
  width: 600px;
  height: 450px;
  padding-left: 0;
  border-radius: 30px;
  overflow: hidden;
  /* No need for flex-centering anymore as it's the clickable area */
  transition: transform 0.3s ease-in-out; /* For a subtle hover effect */
}

.map-container:hover {
  transform: scale(1.03); /* Slight zoom on hover to indicate it's clickable */
}

.map-placeholder {
  width: 100%; /* Make it fill the container */
  height: 100%; /* Make it fill the container */
  border-radius: inherit;
  overflow: hidden;
}