.description-container {
  padding: 20px;
  margin: 20px;
}

.description-title {
  font-size: 1.8em;
  color: #67635e;
  margin-bottom: 8px;
}

.description-box {
  background-color: #34E0A1;
  padding: 15px;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  line-height: 1.6;
}

.description-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 15px;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.description-item p {
  margin: 0;
  flex: 1;
  line-height: 1.5;
}

/* Media Query for larger screens (e.g., tablets) */
@media (min-width: 768px) {
  .description-container {
    width: 70%;
    max-width: 700px;
  }

  .description-title {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .description-box {
    padding: 20px;
    font-size: 1.1em;
  }

  .description-box ul {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .description-box li {
    margin-bottom: 5px;
    font-size: 1em;
  }

  .description-item .icon {
    font-size: 1.4em;
  }
}

/* Media Query for even larger screens (desktops) */
@media (min-width: 1024px) {
  .description-container {
    width: 600px;
    
  }

  .description-title {
    font-size: 24px;
  }

  .description-box {
    font-size: 16px;
  }
}