.description-container {
  padding: 15px;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.description-title {
  font-size: 1.8em;
  color: #67635e;
  margin-bottom: 8px;
}

.description-box {
  background-color: #34E0A1;
  padding: 15px;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  line-height: 1.6;
}

.description-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.description-item .icon {
  margin-right: 10px;
}

.description-box ul {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.description-box li {
  margin-bottom: 5px;
  font-size: 0.95em;
}

/* Media Query for larger screens (e.g., tablets) */
@media (min-width: 768px) {
  .description-container {
    width: 70%;
    max-width: 700px;
  }

  .description-title {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .description-box {
    padding: 20px;
    font-size: 1.1em;
  }

  .description-box ul {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .description-box li {
    margin-bottom: 5px;
    font-size: 1em;
  }

  .description-item .icon {
    font-size: 1.4em;
  }
}

/* Media Query for even larger screens (desktops) */
@media (min-width: 1024px) {
  .description-container {
    width: 500px;
  }

  .description-title {
    font-size: 24px;
  }

  .description-box {
    font-size: 16px;
  }
}